<%- include('partials/header') %>

<section class="user-books" id="latest-section">
    <h1><em>Your</em> shelf</h1>
    <div class="book-container">
            <% if(booksList.length === 0) {%>
                <p class="unavailable-error">No books available.</p>
            <% } else { %>
                <% for(const latestItem of booksList.slice(Math.max(booksList.length - 5, 0))){ %>
                    <div class="book-item latest-book">
                    <% if (latestItem.book.cover_edition_key) { %>
                        <img src="<%= urlCover %><%= latestItem.book.cover_edition_key %>-M.jpg" alt="Book cover">
                    <% } else { %>
                        <div class="no-image">
                            <p>No image available</p>
                        </div>
                    <% } %>
                    <div class="book-text">
                        <h4><%= latestItem.book.title %></h4>
                        <h5><%= latestItem.book.author_name %></h5>
                    </div>
                    <p><%=  latestItem.status%></p>
                    </div>
                <% } %>
            <% } %>
    </div>
    <a href="user-shelf" id="more-btn">more >></a>
</section>


<section id="search-section">
    <form id="bookFinder" method="post">
    <label for="searchBar"> Add more books </label>

    <div id="searchbar-container">
        <input type="text" id="searchBar" name="searchContent" placeholder="Search title...">
        <input id="get" type="submit" value="ðŸ”ï¸Ž" formaction="/find-book">
    </div>
</form>

</section>

<section id="search-result" class="user-books">
    <% if(locals.books){%>
    <div class="book-container">
    <% books.forEach(book => { %>
        <div class="book-item">
            <% if(userBookKeys.includes(book.key)){%>
                 <% if (book.cover_edition_key) { %>
                <img src="<%= urlCover %><%= book.cover_edition_key %>-M.jpg" alt="Book cover" class="added">
                <% } else { %>
                    <div class="no-image added">
                        <p>No image available</p>
                    </div>
                <% } %>
                    <div class="book-text added">
                        <h4><%= book.title %></h4>
                        <h5><%= book.author_name %></h5>
                    </div>
                    <button class="added" type="button">added</button>
                </div>

           <%} else {%>
                <% if(book.cover_edition_key) { %>
                <img src="<%= urlCover %><%= book.cover_edition_key %>-S.jpg" alt="Book cover">
                <% } else { %>
                    <div class="no-image">
                        <p>No image available</p>
                    </div>
                <% } %>
                <div class="book-text">
                    <h4><%= book.title %></h4>
                    <h5><%= book.author_name %></h5>
                </div>
                <div class="form">
                    <form method="post">
                        <input type="hidden" name="addedBook" value='<%- JSON.stringify(book) %>'>
                        <button class="reveal" type="button">add</button>
                        <div class="hidden status-wrapper" >
                            <label for="readingStatus">Select reading status:</label>
                            <select name="readingStatus" id="readingStatus">
                                <option value="planning">Planning</option>
                                <option value="reading">Reading</option>
                                <option value="finished">Finished</option>
                            </select>

                            <div class="status-buttons">
                                <input type="submit" value="âœ“" formaction="/add-book">
                                <button class="collide">âœ—</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <% }}); %>
    <% } %>
    </section>

<%- include('partials/footer') %>